<div class="thanks-wrapper">
  <div class="thanks">
    <h1>Thank You For Applying</h1>
    <h4>You will get an email with the results of your Income Share Plan Application shortly. You may close this tab now.</h4>
  </div>
</div>